# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore model files (too large for GitHub)
*.h5
*.keras

# Ignore system files
.DS_Store
Thumbs.db

# Ignore image datasets or temp files
*.jpg
*.jpeg
*.png

